# Node.js
node_modules/
package-lock.json

# Build output
dist/
build/

# Logs
*.log

# Temporary files
*.tmp

# Environment variables
.env
*.local

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
Thumbs.db
.DS_Store

# Backup files
*.bak
*.swp